<div class="container">
    <div class="footer-socials-section">
        <ul class="footer-socials">
            <a href="">
                <i class="fa fa-facebook"></i>
            </a>
        </ul>
        <ul></ul>
        <ul></ul>

    </div>
</div>