<div class="container">
<form action="">

<div class="mb-3 mt-4">
  <label for="exampleFormControlInput1" class="form-label">Địa Danh</label>
  <input type="text" class="form-control" id="exampleFormControlInput1">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Mô Tả</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Chi Tiết</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">img</label>
  <input type="text" class="form-control" id="exampleFormControlInput1">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">VideoID</label>
  <input type="text" class="form-control" id="exampleFormControlInput1">
</div>
  <button type="submit" class="btn btn-primary">Gửi</button>
</div>
</form>